@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    /* background-color: #1b1b1b; */
    padding: 0 10%;
}

header {
    display: flex;
    background-color: #f0b86e;
    justify-content: space-between;
    /* background-color: red; */
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* background-color: #f0b86e; */
}

.button-search {
    border: none;
    background-color: #e8a44a;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.button-search:hover {
    /* create good animation and transition while hover */
    color: #fffaf5;
    transition: all 0.3s ease 0s;
    border-color: #edbe90;
    background-color: #d07317;
}

.search-input {
    border: none;
    background-color: #e8caa3;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    list-style: none;
}

a {
    text-decoration: none;
    color: #1b1b1b;
}

.menu-list li {
    padding: 0 10px;
    margin: 20px;
}

li a:hover {
    /* create good animation and transition while hover */
    color: #fffaf5;
    transition: all 0.3s ease 0s;
    border-color: #edbe90;
}

.fa-book {
    color: #1b1b1b;
    font-size: 1.5rem;
}

.auth {
    display: flex;
    /* padding: 20px;s */
}

.auth a {
    margin: 20px;
    border: 2px solid #1b1b1b;
    padding: 10px;
    border-radius: 20px;
}

.auth a:hover {
    /* create good animation and transition while hover */
    color: #be8955;
    transition: all 0.3s ease 0s;
    border-color: #edbe90;
    background-color: #edbe90;
}

/*
main{
    background-color: #b19c81;
    height: 1000px;
} */

.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    /* border: 2px solid #1b1b1b; */
    border-radius: 20px;
    /* background-color: #fffaf5; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.task-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
}

.task-item {
    width: 25%;
    min-height: 250px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #1b1b1b;
    border-radius: 20px;
    background-color: #fffaf5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.task-list a:hover {
    color: #f9c118;
}

main {
    width: 90% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-custom {
    width: 12% !important;
}

footer {
    background-color: #f0b86e;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-status{
    padding: 5px;
    border-radius: 20px;
    /* background-color: #f0b86e; */
    color: #1b1b1b;
    border: 2px solid #1b1b1b;
    margin: 10px;
    margin-top: 20px;
}


.badge-draft{
    background-color: grey;
}

.badge-published{
    background-color: rgb(255, 216, 24);
}

.badge-verified{
    background-color: rgb(62, 62, 169);
}

.badge-done{
    background-color: rgb(66, 222, 66);
}
